html {
    font-family: 'Montserrat', sans-serif;
    line-height: 2rem;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: #F5F5F5;
}

header {
    background-color: #800000;
    color: #FFFFFF;
    padding: 1rem;
}

header h1, header h2{
    text-align: center;
    margin: 0.5rem;
    padding: 4px;
}

header h1 {
    font-size: 3rem;
}

a {
    color: #800000;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease, border-bottom 0.3s ease;
}

a:hover {
    color: #333333;
}

main {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

article {
    flex: 3;
    padding: 16px;
    color: #333333;
}

article h2 {
    text-align: center;
    font-size: 2rem;
    margin: 0;
    margin-bottom: 2rem;
}


aside {
    flex: 1;
    padding: 16px;
    background-color: #D2B48C;
    border-radius: 1rem;
    color: #800000;
}

aside h4 {
    text-align: center;
}

aside li {
    list-style-type: none;
}

footer {
    background-color: #333333;
    color: #FFFFFF;
    padding: 1rem;
    text-align: center;
}

footer a {
    color: #FFFFFF;
    font-weight: normal;
}

footer a:hover {
    color: #FFFFFF;
}